#responses .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(#141e30, #243b55);
  padding: 40px 0;
}
#responses .container .pages {
  text-align: center;
}
#responses .container .pages button {
  color: white;
  border-radius: 0;
  margin: 0 10px;
}
#responses .container .pages button:hover {
  border-bottom: 3px solid #03e9f4;
}
#responses .container .pages button.curr {
  border-bottom: 3px solid #03e9f4;
}
#responses .container .text-left {
  text-align: center;
}
#responses .container h2 {
  font-size: 35px;
  font-weight: 700;
}
#responses .container h3 {
  font-size: 30px;
  font-weight: 600;
}
#responses .container .card {
  position: relative;
  width: 700px;
  min-height: 150px;
  background-color: #243b55;
  background: linear-gradient(#1e2d4b, #243b55);
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
#responses .container .card .title {
  font-size: 25px;
  font-weight: 600;
}

#responses .container .card ul {
  margin: 20px;
  width: 100%;
}

#responses .container .card ul li {
  margin: -5px 0 10px;
  position: relative;
  left: -20px;
  list-style: none;
  background: #1e2d4b;
  padding: 5px 10px;
  border-radius: 5px;
}
span#total {
  position: relative;
  left: -20px;
  top: -20px;
  margin: 0 !important;
  font-size: 12px;
}
@media (max-width: 767px) {
  #responses .container .card {
    width: 550px;
  }
}
@media (max-width: 600px) {
  #responses .container .card {
    width: 480px;
  }
}
@media (max-width: 520px) {
  #responses .container .card {
    width: 400px;
  }
}
@media (max-width: 440px) {
  #responses .container .card {
    width: 350px;
  }
}

@media (max-width: 380px) {
  #responses .container .card {
    width: 340px;
  }
}
